<main>
  <!-- <mat-card>
    <mat-card-title>
      <img
        mat-card-avatar
        src="https://i.cricketcb.com/stats/img/faceImages/265.jpg"
        alt=""
      />
      Random heading..
    </mat-card-title>
    <mat-card-subtitle>
      Simple one***
    </mat-card-subtitle>
    <img
      mat-card-image
      src="https://www.google.com/logos/doodles/2019/2019-icc-cricket-world-cup-begins-6508349483384832-law.gif"
      alt=""
    />
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae modi
        impedit consectetur architecto cumque delectus placeat repudiandae
        dolores iusto temporibus totam, facilis accusantium asperiores
        blanditiis! Iusto odio ut nihil delectus.
      </p>
    </mat-card-content>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae modi
        impedit consectetur architecto cumque delectus placeat repudiandae
        dolores iusto temporibus totam, facilis accusantium asperiores
        blanditiis! Iusto odio ut nihil delectus.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Google</button>
      <button mat-raised-button>Facebook</button>
      <button mat-raised-button color="primary">Insta</button>
      <button mat-raised-button color="accent">Pin</button>
      <button mat-raised-button color="warn">Insta</button>
    </mat-card-actions>
    <mat-card-footer>
      <p>
        * Above content doesn't make any sense.
      </p></mat-card-footer
    >
  </mat-card> -->
  <mat-card>
    <mat-card-title>
      Create account here...
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input type="text" matInput placeholder="Enter email" />
      </mat-form-field>
    </mat-card-content>
    <mat-card-content>
      <mat-form-field>
        <input type="password" matInput placeholder="Enter password" />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Sign up</button>
    </mat-card-actions>
  </mat-card>
</main>
